[flake8]
ignore =
	# unable to detect undefined names
	F403,
	# may be undefined, or defined from star imports
	F405,
	# imported but unused
	F401,
	# line too long
	E501,
	# whitespace before ':'
	E203,
	# line break before binary operator
	W503
